.MembersDetailContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MembersDetailMain{
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.MembersDetailMain_head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 15%
}
.MembersDetailMain_head h3{
    font-size: 2vw;
    font-weight: bold;
    color: #3b5378;
}
.MembersDetailMain_head button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 5vh;
    background: #3b5378;
    color: white;
    border-radius: 1em;
    border-style: none;
}
.MembersDetailMain_body{
    height: 85%;
}
.MembersDetailMain_body>ul{
    display: flex;
    height: 100%;
}
.MembersDetailMain_body>ul>li:nth-child(1){
    width: 21%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MembersDetailMain_body>ul>li:nth-child(1)>ul{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    height: 76%;
}
.MembersDetailMain_body>ul>li:nth-child(1)>ul>li:nth-child(1){
    width: 9vw;
    height: 19vh;
    /* border: 1px solid black; */
    background: #d1d1d1;
}
.MembersDetailMain_body>ul>li:nth-child(1)>ul>li:nth-child(2){
    font-size: 1.7em;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MembersDetailMain_body>ul>li:nth-child(1)>ul>li:nth-child(3){
    font-size: 1.2em;
    /* height: 1%; */
    display: flex;
    height: 9%;
}
.MembersDetailMain_body>ul>li:nth-child(1)>ul>li:nth-child(4){
    font-size: 1em;
    display: flex;
    height: 9%;
}

.MembersDetailMain_body>ul>li:nth-child(2)>ul{
    width: 100%;
    height: 100%;
}
.MembersDetailMain_body>ul>li:nth-child(2)>ul>li:nth-child(1){
    height: 43%;
    display: flex;
    flex-direction: column;
}
.MembersDetailMain_body>ul>li:nth-child(2)>ul>li:nth-child(1) h4{
    height: 20%;
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    color: #3b5378;
}
.month_progress{
    display: grid;
    width: 60%;
    height: 60%;
    grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
    grid-template-rows: 31% 31% 31%;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.checked{
    width: 100%;
    height: 100%;
    background: #3b5378;
    border-radius: 0.4em;
}
.nonchecked{
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
    border: 1px solid #3b5378;
}
.MembersDetailMain_body>ul>li:nth-child(2){
    width: 54%;
}
.MembersDetailMain_body>ul>li:nth-child(2)>ul>li:nth-child(2){
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.MembersDetailMain_body>ul>li:nth-child(2)>ul>li:nth-child(2) h4{
    height: 20%;
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    color: #3b5378;
}
.MembersDetailMain_body>ul>li:nth-child(2)>ul>li:nth-child(2) p{
    height: 60%;
    font-size: 1.2em;
    color: #3a5276;
}

.MembersDetailMain_body>ul>li:nth-child(2)>ul>li:nth-child(3){
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.MembersDetailMain_body>ul>li:nth-child(2)>ul>li:nth-child(3) h4{
    height: 20%;
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    color: #3b5378;
}
.MembersDetailMain_body>ul>li:nth-child(2)>ul>li:nth-child(3) p{
    width: 70%;
    height: 70%;
    color: #3a5276;
    font-size: 1.1em;
}